@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
          
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

table {
  width: 100%;
  overflow: scroll;
}
.background {
  background-color: black;
}

.main-section {
  background-image: url('/public/assets/images/landing-page-bg.png');
  background-size: cover;
}

.wrapper {
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  height: 50px;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.itemLeft {
  width: 200px;
  border-radius: 6px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  font-size: 14px;
  color: white;
}

.itemLeft {
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}
.nav_link {
  display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient(#5F35D2 0 0);
  background-position: 0 100%;
  background-size: 0% 1.5px;
  background-repeat: no-repeat;
  transition:
    background-size 0.5s,
    background-position 0s 0.5s; /*change after the size immediately*/
}

.nav_link:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 1.5px;
}
.container {
  width: calc(100vw - 272px);
}
.loadingContainer {
  position: absolute;
  top: 50%;
  left: 50%;
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
  }
}

.main-wrapper:hover,
.main-wrapper:focus {
  border: 2px solid #c3adff;
}

*::-webkit-scrollbar {
  width: 0;
}
/* *::-webkit-scrollbar-thumb {
  background-color: #eae5ff;
  border-radius: 10px;
} */
.dashboardLogo {
  filter: sepia(100%) saturate(300%) brightness(20%) hue-rotate(180deg);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
}
.Toastify__toast--error {
  border: 2px solid #eb5757;
  border-radius: 15px !important;
  background: #fae1e2 !important;
}
.Toastify__toast-icon {
  width: 20px !important;
}

.Toastify__toast--success {
  border: 2px solid #3a9ea5 !important;
  border-radius: 15px !important;
  background: #f0f9fa !important;
}

.Toastify__toast--warning {
  border: 2px solid #e78326 !important;
  border-radius: 15px !important;
  background: #fadfc5 !important;
}

.Toastify__toast-body {
  color: #444c63;
  font-size: 16px;
  padding-left: 20px;
  line-height: 20px;
  padding: 0;
  width: 100%;
  font-weight: 400;
  min-height: 65px !important;
  margin-left: 5px !important;
}

.custom-pagination-item[data-active='true'] {
  background-color: #5f35d2;
}
.loading-text {
  animation: flash 1.2s ease-in-out infinite;
  font-size: 14px;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
