@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

table {
  width: 100%;
  overflow: scroll;
}
.background {
  background-color: black;
}

.main-section {
  background-image: url("/assets/images/landing-page-bg.png");
  background-position: center;
  background-size: cover; /* Scales the image to cover the div */
  width: 100%;
}

.price-plan-section {
  background-image: url("/public/assets/images/price-bg.png");
  background-size: cover;
}

.wrapper {
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  height: 50px;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

@keyframes scrollLeft {
  to {
    left: -400px;
  }
}

.itemLeft {
  width: 400px;
  border-radius: 6px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  font-size: 14px;
  color: white;
}

.itemLeft {
  left: max(calc(400px * 6), 100%);
  animation-name: scrollLeft;
}

.item1 {
  animation-delay: calc(30s / 6 * (6 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 6 * (6 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 6 * (6 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 6 * (6 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 6 * (6 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 6 * (6 - 6) * -1);
}
/* 
.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
} */
.nav_link {
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(#5f35d2 0 0);
  background-position: 0 100%;
  background-size: 0% 1.5px;
  background-repeat: no-repeat;
  transition: background-size 0.5s, background-position 0s 0.5s; /*change after the size immediately*/
}

.nav_link_colored {
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(#9a7dfa 0 0);
  background-position: 0 100%;
  background-size: 0% 1.5px;
  background-repeat: no-repeat;
  transition: background-size 0.5s, background-position 0s 0.5s; /*change after the size immediately*/
}

.nav_link:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 1.5px;
}
.nav_link_colored:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 1.5px;
}
.container {
  width: calc(100vw - 272px);
}
.loadingContainer {
  position: absolute;
  top: 50%;
  left: 50%;
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
  }
}

.main-wrapper:hover,
.main-wrapper:focus {
  border: 2px solid #c3adff;
}

*::-webkit-scrollbar {
  width: 0;
}
/* *::-webkit-scrollbar-thumb {
  background-color: #eae5ff;
  border-radius: 10px;
} */
.dashboardLogo {
  filter: sepia(100%) saturate(300%) brightness(20%) hue-rotate(180deg);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
}
.Toastify__toast--error {
  border: 2px solid #eb5757;
  border-radius: 15px !important;
  background: #fae1e2 !important;
}
.Toastify__toast-icon {
  width: 20px !important;
}

.Toastify__toast--success {
  border: 2px solid #3a9ea5 !important;
  border-radius: 15px !important;
  background: #f0f9fa !important;
}

.Toastify__toast--warning {
  border: 2px solid #e78326 !important;
  border-radius: 15px !important;
  background: #fadfc5 !important;
}

.Toastify__toast-body {
  color: #444c63;
  font-size: 16px;
  padding-left: 20px;
  line-height: 20px;
  padding: 0;
  width: 100%;
  font-weight: 400;
  min-height: 65px !important;
  margin-left: 5px !important;
}

.custom-pagination-item[data-active="true"] {
  background-color: #5f35d2;
}
.loading-text {
  animation: flash 1.2s ease-in-out infinite;
  font-size: 14px;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.content {
  scrollbar-width: thin;
  scrollbar-color: #7a69e8 #fbfbfc;
}

/* Chrome, Edge, and Safari */
.content::-webkit-scrollbar {
  width: thin;
}

.content::-webkit-scrollbar-track {
  background: #fbfbfc;
  width: thin;
}

.content::-webkit-scrollbar-thumb {
  background-color: #7a69e8;
  border-radius: 6px;
  border: 1px solid #7a69e8;
}

.content_div {
  width: 350px;
  height: 350px;
  position: relative;
  max-height: 90vh;
  margin: 20px;
  background: var(--white);
  overflow: hidden;
}

.content_div_small {
  width: 80vw;
  height: 580px;
  position: relative;
  max-height: 90vh;
  /* margin: 20px; */
  background: var(--white);
  overflow: hidden;
}

.section {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}

.content {
  scroll-snap-type: y mandatory;
}
.multiline-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines you want to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multi-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.landing-page-image {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.nav-bar-bg {
  background-image: url("/assets/images/small-screen-bg.png");
  height: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
}
/* Custom styles for FullCalendar */
.fc .fc-timegrid-slot {
  height: 60px; /* Adjust the height of time slots */
}

.fc .fc-timegrid-axis {
  width: 50px; /* Adjust the width of the time axis */
}

.fc .fc-timegrid-col {
  width: 200px; /* Adjust the width of the columns */
}

.fc .fc-event {
  border-radius: 4px; /* Rounded corners for events */
  padding: 8px; /* Padding inside events */
}

.fc .fc-event .fc-event-main {
  font-size: 14px; /* Font size for event content */
}

.fc .fc-timegrid-event-harness {
  margin-bottom: 4px; /* Space between events */
}

.fc .fc-timegrid-axis-cushion {
  font-size: 12px; /* Font size for time axis */
}

.fc .fc-timegrid-slot-label {
  font-size: 12px; /* Font size for slot labels */
}

.fc .fc-timegrid-event {
  border-left: 4px solid; /* Border color for events */
}

.fc .fc-timegrid-event .fc-event-time {
  font-weight: bold; /* Bold time in events */
}

.fc .fc-timegrid-event .fc-event-title {
  margin-top: 4px; /* Space between time and title */
}

.fc .fc-timegrid-event .fc-event-status {
  font-size: 12px; /* Font size for status */
}

/* Add this to your global CSS file */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #edf2f7;
}
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
  background-color: #5F35D2 !important;
}

.react-datepicker__navigation--previous {
  right: 51px !important;
}

.react-datepicker__navigation--previous {
  right: 51px !important;

}



.react-datepicker__header {
  text-align: center;
  background-color: #ffff !important;

}